@import "src/assets/variables";

.container {
  position: relative;
  display: flex;

  gap: $gap;

  &:before {
    content: "";
    width: 100%;
    height: calc(100% - 25px);

    background: lighten($background-color, 10%);

    position: absolute;
    top: 50%;
    left: 0;

    transform: translateY(-50%);
  }
}
